.body {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
}

.body__slider {
    display: block;
    width: 40%;
}

.body__map {
    width: 40%;
    height: auto;
    margin: 0 auto;
}

.body__map h2 {
    margin: 0 auto;
    text-align:center;
}

.body__map{
    display: block;
    margin: 0 auto;
    position: absolute;
    max-width: 53%;
    top: 10%;
    right: 11%;
    z-index: 0;
}

.links-slider {
    margin-top: 32px;
}

.links-slider__item {
    background-color: #F6FBF2;
    padding: 10px 10px 30px 10px;
}


.links-slider__item .content{
    display: flex;
    flex-direction: row;
}

.links-slider__item img{
    width: 30%;
    height: 100%;
}

.links-slider__item p{
    width: 70%;
    padding-left: 10px;
}

.links-slider__item h2 {
    margin: 0;
}