

.App {
  text-align: center;
}

img {
  max-width: 100%;
}

h2 {
  color: #4A8B2C;
  font-size: 35px;
}

.wrap {
  height: 100vh;
  padding: 0 45px 0 45px;
}

.bg-welcome-window {
  position: absolute;
  z-index: 1000000000000;
  top: 0;
  left: 0;
  right: 0;
  animation-duration: 2s;
  animation-name: slideinWelcome;
  height: 100%;
  color: aliceblue;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  top: 50%;
  width:100%;
  height:100%;
}

.welcome-content__timer {
  font-size: 90px;
}

.welcome-content__description p{
  text-align: center;
}

.welcome-content .tap-icon {
  max-width: 10%;
}

@keyframes slideinWelcome {
  from {
    top: -100%;
    left: 0;
    right: 0;
  }

  to {
    top: 0;
    left: 0;
    right: 0;
  }
}
