.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   display: flex;
   flex-direction: row;
   /* justify-content: space-between; */
}

.footer__lines {
    padding-left: 45px;
}

.footer__decore {
    position: absolute;
    right: -196px;
}